<div class='container'>
  <div class='row show-row'>
    <h3>Start Raising Funds on Indiegogo!</h3>
    Start your campaign and join tens of thousands of people raising funds on Indiegogo. People just like you.
  </div>

  <div class='row show-row'>
    <h3> Which category best describes your campaign? </h3>
Pick one category that best describes your campaign. You can change it later.<br>

    <div class="btn-group">
      <button type="button" class="event-category-button btn btn-default">Animals</button>
      <button type="button" class="event-category-button btn btn-default">Education</button>
      <button type="button" class="event-category-button btn btn-default">Health</button>
      <button type="button" class="event-category-button btn btn-default">Sports</button>
      <button type="button" class="event-category-button btn btn-default">Art</button>
      <button type="button" class="event-category-button btn btn-default">Environment</button>
      <button type="button" class="event-category-button btn btn-default">Music</button>
      <button type="button" class="event-category-button btn btn-default">Technology</button>
      <button type="button" class="event-category-button btn btn-default">Comic</button>
      <button type="button" class="event-category-button btn btn-default">Fashion</button>
      <button type="button" class="event-category-button btn btn-default">Photography</button>
      <button type="button" class="event-category-button btn btn-default">Theater</button>
      <button type="button" class="event-category-button btn btn-default">Community</button>
      <button type="button" class="event-category-button btn btn-default">Film</button>
      <button type="button" class="event-category-button btn btn-default">Politics</button>
      <button type="button" class="event-category-button btn btn-default">Transmedia</button>
      <button type="button" class="event-category-button btn btn-default">Dance</button>
      <button type="button" class="event-category-button btn btn-default">Food</button>
      <button type="button" class="event-category-button btn btn-default">Religion</button>
      <button type="button" class="event-category-button btn btn-default">Video/Web</button>
      <button type="button" class="event-category-button btn btn-default">Design</button>
      <button type="button" class="event-category-button btn btn-default">Gaming</button>
      <button type="button" class="event-category-button btn btn-default">Small Business</button>
      <button type="button" class="event-category-button btn btn-default">Writing</button>
    </div>
    <!--make selection persist -->
    <script>
    $('body').on('click', '.event-category-button', function (e) {
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    </script>
  </div>

  <div class='row show-row'>
    <h3> What is your fundraising goal? </h3>
    <div class='row'>
      <div class='col-md-4'>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">$</span>
          <input id='event-funds-field' type="text" class="form-control" placeholder="Amount to raise">
        </div>
      </div>
      <div class='col-md-8'>
        <div class="btn-group">
          <button type="button" class="event-currency-button btn btn-default">USD</button>
          <button type="button" class="event-currency-button btn btn-default">EUR</button>
          <button type="button" class="event-currency-button btn btn-default">GBP</button>
          <button type="button" class="event-currency-button btn btn-default">CAD</button>
          <button type="button" class="event-currency-button btn btn-default">AUD</button>
        </div>
        <!--make selection persist -->
        <script>
        $('body').on('click', '.event-currency-button', function (e) {
          $(this).addClass('active');
          $(this).siblings().removeClass('active');
        });
        </script>
      </div>
    </div>
    $500 minimum<br>
    PLEASE NOTE that campaigns in EUR and AUD require you to have a PayPal account. However, your contributors are not required to have a PayPal account and can contribute via credit card. You can change your goal and currency up until you launch your campaign.<br><br>
    Any funds you receive will be exchanged into the currency selected for the project.<br>
  </div>

  <div class='row show-row'>
    <h3>
      Which person or organization will receive the funds from your campaign?
    </h3>
    <form action="">
      <label>
        <input type="radio" name="sex" value="male">
        An individual person or group of people.
      </label><br><br>
      <label>
        <input type="radio" name="sex" value="male">
        A registered business.
      </label><br><br>
      <label>
        <input type="radio" name="sex" value="male">
        A nonprofit institution registered as 501(c)(3) in the United States.
      </label><br><br>
      <label>
        <input type="radio" name="sex" value="male">
        A nonprofit institution registered in a country other than the United States.
      </label><br><br>
      <label>
        <input type="radio" name="sex" value="male">
        A religious organization.
      </label><br><br>
    </form>
  </div>

  <div class='row'>
    <div id='event-new-errors' class='col-md-4 col-md-offset-2'>
    </div>
    <div class='col-md-2 col-md-offset-3'>
      <button type="button" class="setUp btn btn-success">
        SET UP YOUR CAMPAIGN
      </button>
    </div>
  </div><br>
</div>
