<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <button type="button" class="new btn btn-default">
        1. Get Started
      </button>
    </div>
    <div class='col-md-3'>
      <button type="button" class="new btn btn-default">
        2. Set Up Your Campaign
      </button>
    </div>
    <div class='col-md-3'>
      <button type="button" class="new btn btn-default">
        3. Enhance Your Campagin
      </button>
    </div>
    <div class='col-md-3'>
      <button type="button" class="new btn btn-default">
        4. Get Funded!
      </button>
    </div>
  </div><br>
</div>
