/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require jquery.ui.all
 */

/*bootstrap glyphicons*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
a:hover {
  text-decoration: none;
  color: black;
}
a {
  color: black;
}
.tile-img {
  width: 220px;
  height: 220px;
}

.tile {
  width: 220px;
  border: 1px solid #d4d4d4;
  opacity: 0.8;
}

.tile:hover {
  opacity: 1;
}

#footer{
  background-color: black;
}

.hr{
  color: white;
}

#footerEl{
  color: white;
}

.event-category-button {
  font-size: 25px;
  width: 235px;
  height: 75px;
}

.row.show-row{
  font-family: "Benton Sans Medium", "Helvetica", "sans-serif";
  color: #2a2a2a;
  background-color: #f5f5f5;
  padding: 20px 20px;
  margin-bottom: 30px;
}
.glyphicon-pencil{
  color: #369;
  opacity: 0.7;
}
.glyphicon-pencil:hover{
  color: #369;
  opacity: 1;
}
